
{% load static %}

{% block title%} Product Details {% endblock %}
{% block content%}
        <main>
            <section class="speakers section-padding" id="section_3">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12 d-flex flex-column justify-content-center align-items-center">
                            <div class="speakers-text-info">
                                <h2 class="mb-4"> <u class="text-info">{{product.name}}</u></h2>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="speakers-thumb">
                                <img src="{{product.image}}" class="img-fluid speakers-image" alt="">

                                <small class="speakers-featured-text">Featured</small>

                                <div class="speakers-info">

                                    <h5 class="speakers-title mb-0">{{product.name}}</h5>

                                    <p class="speakers-text mb-0">{{product.desc}}</p>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </section>

        </main>
{% endblock %}